<%= button_to "Edit Task", edit_task_path, method: :get %>

<h1><%= @task.title %></h1>

<p>
  <%= @task.description %>
</p>

<div>Tag:
  <%# remember: 
  when building form loop blocks > use %= 
  using each loops > use % only because #each returns original array %>
<% @task.categories.each do |category| %>
  <%= category.name %>
<% end %>
</div>