<%= button_to "Edit Task", edit_task_path, method: :get %>

<h1><%= @task.title %></h1>

<p>
  <%= @task.description %>
</p>

<div>Tags:
  <%# remember: 
  when building form loop blocks > use %= 
  using each loops > use % only because #each returns original array %>
<% @task.categories.each do |category| %>
  <% unless category.name == 'No Tag' %>
    #<%= category.name %>
  <% end %>
<% end %>
</div>